<div class="container mt-5">
  <div class="row">
    <div class="offset-md-4 col-md-4 col-4">
      <mat-list role="list">
        <mat-list-item role="listitem"> <button mat-raised-button color="warn" class="col-md-12">Informações do Pedido</button>
        </mat-list-item>
        <mat-list-item role="listitem"> <button mat-raised-button color="warn" class="col-md-12">Informações Mesa</button>
        </mat-list-item>
        <mat-list-item role="listitem"> <button mat-raised-button color="warn" class="col-md-12">Cardápio</button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>